

# ignores the csv files
*.csv

# ignores the .png files
*.png

# ignores the latex related files
*.pdf
*.tex
*.aux
*.log

# ignores the pycache and pyc files
__pycache__/
*.pyc

# ignores the .py file where I was testing random stuff
randomstuff.py

